/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  display: flex;
  min-height: 100vh;
  color: #333;
}

/* === SIDEBAR === */
.sidebar {
  width: 220px;
  background-color: #ffffff;
  padding: 20px;
  flex-shrink: 0;
  height: 100vh;
  box-shadow: 0 0 18px 4px rgb(206, 206, 206);
  border-right: 1px solid #ddd;
}

.logo {
  height: 100px;
  width: auto;
  margin-bottom: 30px;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s, padding-left 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #e6f0ff;
  padding-left: 16px;
  color: #53ACD8;
}

/* === MAIN CONTENT === */
.main-content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
}

.main-content h2 {
  margin-bottom: 25px;
  color: #333;
}

/* === FILTER BOX === */
.filter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 25px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 18px 4px rgb(206, 206, 206);
}

.filter-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}

.filter-group label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #444;
}

.filter-group input,
.filter-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-group button {
  margin-top: 25px;
  padding: 10px;
  background-color: #53ACD8;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-group button:hover {
  background-color: #53ACD8;
}

/* === TABLE SECTION === */
.table-section {
  background: white;
  padding: 15px;
  border-radius: 8px;
 box-shadow: 0 0 18px 4px rgb(206, 206, 206);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

thead {
  background-color: #53ACD8;
  color: white;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .filter-box {
    flex-direction: column;
  }
}
